div.navigationBody {
  display: flex;
  min-width: auto;
  max-width: auto;

  justify-content: space-around;
  height: 50px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 32%;
  flex-wrap: nowrap;
  background-color: #ffff;
}
.noDecoration {
  text-decoration: none;
}
.navigationItems {
  display: flex;
  width: 100%;
}
.categoryList {
  display: flex;
  justify-content: space-between;
}
.roundInfo {
  background-color: rgb(66, 10, 63);
  border-radius: 50px;
  padding: 0.1rem;
  color: white;
}
.noDecoration {
  text-decoration: none;
}

.navigationSearch {
  display: flex;
  width: 67.5%;

  height: auto;
  padding-right: 0.5%;
}
.navigationSearchInput {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
}
.navigationButtons {
  max-width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}
#navigationSearchButton {
  background-color: white;
  color: black;
}
#nav-dropdown-navigation {
  padding: 0;
}
#nav-dropdown-navigation:nth-child(1) {
  margin-left: 5px;
}
#nav-item-navigation {
  margin: auto 0;
}
