.cardTitle {
  letter-spacing: 0.01rem;
}
.green {
  color: green;
}
.red {
  color: red;
}

.yellow {
  color: Yellow;
}
.subTitle {
  letter-spacing: 0.001rem;
  line-height: 20px;
  text-transform: none;
}
