.cardTitle {
  letter-spacing: 0.01rem;
}
.green {
  color: green;
}
.red {
  color: red;
}

.yellow {
  color: Yellow;
}
.subTitle {
  letter-spacing: 0.001rem;
  line-height: 20px;
  text-transform: none;
}
.categoryList {
  display: flex;
  justify-content: space-between;
}
.roundInfo {
  background-color: rgb(66, 10, 63);
  border-radius: 50px;
  padding: 0.1rem;
  color: white;
}
