.detailsBody {
  background-color: #788aa3;
  border-radius: 15px;

  padding: 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-image {
  margin: auto;
  min-width: 200px;
}
.detailsListItem {
  list-style: none;
  color: black;
}
.detailsText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: auto;
  background-color: #666a86;
  padding: 0, 2.5rem;
  padding-right: 2.5rem;

  border-radius: 15px;
  margin-bottom: 0;
  margin-bottom: 0;
}
.DetailsListItemSpan {
  margin-right: 0.2rem;
  font-weight: bold;
  font-size: 20px;
}
